html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

.titlecenter{
    margin-top: 60px
}

::selection { background-color: #FFA; color: #990000;}

a{
    text-decoration: none;
    color: #990000;
}




body {
    min-height: 740px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

b, strong { font-weight: bold }
i, em { font-style: italic }

.impress-supported .fallback-message {
    display: none;
}

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
    font-size: 48px;
    line-height: 1.5;
}

.impress-enabled .step {
    margin: 0;
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.slide,.slide2 {
    display: block;
    padding: 40px 60px;
    background:transparent;
    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}

.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}

.impress-enabled .hint { display: block }

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }

.step:not(.active) {display: none;}
.not-supported .step {position: relative;opacity: 1;margin: 20px auto;}
.active{visibility:visible}

.first-title{
  margin:30px 10px 20px 10px;
  font-size:3.3em;
  line-height:1.1em;
}

.endtitle{
  font-size:1.43em;
}

.imgclass{
  height:100%;
  width:100%;
  background:transparent;
}

.briefmemory{
  font-size:1.5em;
  line-height:1.3em;
  margin:150px 10px;
}

#request2{
    top: 20px;
    right: 20px;
    position: absolute;
    width: 40px;
    height: 40px;
    background: url('../media/871.png');
    background-size: cover;
    border: none;
}

#request2:hover{
    width: 35px;
    height: 35px;
    top: 22.5px;
    right: 22.5px;
}